.country{
    display: flex;
    width: 20rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 5px;
}

.flagContainer{
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.flag{
    border: 1px black solid;
    display: flex;
    width: 100%;
}

.details{
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.title{
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}

.description {
    color: brown;
}